<%- include('../partials/_header.ejs'); -%>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/alumnos" class="btn btn-dark btn-lg" >Alumnos</a>
                        <a href="/sedes" class="btn btn-dark btn-lg" >Sedes</a>
                    </div>
                    <!-- <div class="col-md-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/_footer.ejs'); -%>